<h3><i class="fa fa-2x fa-user-plus"></i> </h3>
<form class="text-dark mt-3" (ngSubmit)="register()" [formGroup]='registerForm'>
    <div class="form-group form-inline">
        <label for="rUsername"><strong>Username</strong></label>
        <input [class.is-invalid]='registerForm.get("userName").errors && registerForm.get("userName").touched'
            formControlName='userName' class="ml-3 form-control" type="text" id="rUsername">
    </div>
    <div class="form-group form-inline">
        <label class="ml-1" for="rPassword"><strong>Password</strong></label>
        <input formControlName='password' required class="ml-3 form-control"
            [class.is-invalid]='registerForm.get("userName").errors && registerForm.get("password").touched' type="password"
            id="rPassword">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password
        </div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password must be at least 6
            characters
        </div>
    </div>
    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success text-white">Register</button>
</form>